@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<ProductCard></ProductCard>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    public string strItem = "Pay";

    private void IncrementCount()
    {
        currentCount++;
    }
}
